:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}


body {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1240px) {
    .container {
        padding: 30px;
    }
}

.title-circle{
    font-size: 13px;
}


h5 {
    margin: 0px !important;
}

.container {
    background-color: transparent;
}

.header {
    background-color: #929292;
    z-index: 1;
}

.header p {
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    max-width: 1260px;
    width: 100%;
}

.redspan {
    color: red;
}

section form .col-xs-12 .col-8 {
    gap: 1.5em;
    display: grid;
}

section form .col-xs-12 .row .ifp {
    max-width: 100%;
    display: flex;
    font-size: 14px;
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
}

section form .col-xs-12 .row .ifp .ifp_label {
    display: block;
    transition: 0.2s;
    font-size: 1rem;
}

section form .col-xs-12 .review-exemple {
    background-color: #EEEEEE;
    height: 100%;
    padding: 2em;
    text-align: center;
    margin: 0 auto;
    display: grid;
}

section form .col-xs-12 .review-exemple img {
    width: 20em;
    margin: 0 auto;
}

section form .col-xs-12 .review-exemple h6 {
    font-weight: 700;
}

section form .col-xs-12 .review-exemple p {
    font-size: 13px;
    text-align: left;
    position: relative;
    top: 1.5em;
}

section form .col-xs-12 .row .ifp .ifp_label .required-field:after {
    content: " *" !important;
    color: #d50000;
    font-size: 30px;
}

section form .col-xs-12 .row .ifp_input {
    width: 100%;
    border: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: rgb(7, 7, 7);
    padding: 8px 6px;
    background: transparent;
    transition: border-color 0.2s;
}


section form .col-xs-12 .row .ifp_input:hover {
    background-color: rgba(20, 96, 170, .1);
}

section form .col-xs-12 .row .ifp_input:focus {
    background-color: rgba(20, 96, 170, .1);
}

section .warning-alert {
    background: #e7e0e0;
    border: 1px solid #e08385;
    border-left: 5px solid #E51E20;
    padding: 16px 18px;
}

section .warning-alert .header-alert {
    position: relative;
    bottom: .3em;
}

section .warning-alert span {
    font-size: 14px;
}

/* section form details{
    padding: 0em 1em 0em 1em;
    border-radius: 0;
} */

details {
    background: var(--collapse-bg);
    color: var(--collapse-color);
    margin-bottom: 24px;
    box-shadow: var(--collapse-box-shadow);
}

summary h5{
    font-size: 28px;
    font-weight: 600;
}

summary {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
}

summary,
.details-info {
    padding: 1rem .5rem;
    border-bottom: 1px solid gray;
    width: 100%;
}

#section-step2,
#section-step3{
    display: none;
}

#section-step3{
    display: none;
}

#section-step4{
    display: none;
}

.details-info {
    border-top: 1px solid var(--collapse-line-color);
}

summary .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: transform 0.26s;
    color: var(--collapse-icon-color);
}

details[open] summary .icon {
    transform: rotate(180deg);
}

.tooltipp {
    position: relative;
    display: inline-block;
    float: right;
}

.tooltipp i.hlp {
    display: inline-block;
    padding: 0 5px 0 0;
    color: #929292;
    float: right;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    font-style: initial;
}

.tooltipp span.tooltiptext {
    visibility: hidden;
    width: 370px;
    background-color: #143253;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 0;
    position: absolute;
    z-index: 1;
    right: 30px;
    font-size: 12px;
}

.fa-question-circle:before {
    content: "\f059";
}

.title-progress {
    color: white;
    margin-top: 1em;
    text-align: center;
    /* margin: 0 auto; */
    /* display: inline-flex; */
}

.title-progress .row{
    max-width: 93%;
    margin: 0 auto;
}

.title-progress .row .col{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* progress steps */

.progress-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 100%;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.progress-container::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: 3;
    transition: .4s ease;
}

.circle {
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--line-border-empty);
    transition: .4s ease;
    z-index: 4;
}

.circle.active {
    border-color: var(--line-border-fill);
    color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin-top: 15px;
    font-size: 14px;
}

.btn:active {
    transform: scale(.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

.cardID-module {
    margin: 1em auto 0 auto !important;
}

/* tooltip */
.wrapper {

    color: #555;
    cursor: help;
    font-family: "Gill Sans", Impact, sans-serif;
    font-size: 18px;
    width: 11em;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    position: relative;
    display: inline-block;
    float: right;
}

.wrapper i.hlp {
    display: inline-block;
    padding: 0 5px 0 0;
    color: #929292;
    float: right;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    font-style: initial;
}



.wrapper .tooltip {
    background: #929292;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -20px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}


.wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}


.wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #1496bb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.lte8 .wrapper .tooltip {
    display: none;
}

.lte8 .wrapper:hover .tooltip {
    display: block;
}


.footer-form .row .col button {
    padding: 20px 40px;
    background: #0b4691;
    color: white;
    border: none;
    text-decoration: none;
}

.footer-form .row .col button svg {
    width: 8px;
    fill: white;
    margin-bottom: 4px;
    margin-left: 4px;
}


.text-danger {
    display: none;
}

.runERRMSG {
    display: block !important;
    margin: 4px 1px !important;
    font-size: 14px !important;
    color: red !important;
}

.runSUCSSMSG {
    color: green !important;
}

.inputError {
    border-color: red !important;
    background-color: #cfb3b44d !important;
}

.activesummary{
    border: 1px solid green;
    background-color: rgba(194, 255, 194, 0.274) !important;
}

.verifedinput {
    background-image: url('https://www.svgrepo.com/show/24762/round-done-button.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 96%;
}

.verifedinputDate {
    background-image: url('https://www.svgrepo.com/show/24762/round-done-button.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
}

.inputValid {
    border-color: green !important;
    background-color: rgba(194, 255, 194, 0.274) !important;
}




/* ---------------- step 2 --------------- */

#step-2 {
    display: none;
}









/* ---------------- step 3 --------------- */

#step-3 {
    display: none;
}












@media only screen and (max-width: 1100px) {
    #step-1 .col-xs-12 .row {
        flex-direction: column;
    }

    #step-1 .col-xs-12 .row .col-8 {
        width: 100%;
    }

    #step-1 .col-xs-12 .row .col-4 {
        width: 100%;
        margin-top: 1em;
    }

    #step-1 .col-xs-12 .row .col-8 .row {
        flex-direction: row;
    }

    .sticky {
        width: 74% !important;
    }
}





@media only screen and (max-width: 500px) {
    .title-progress{
        display: none;
    }

    .circle{
        width: 60%;
        height: 60%;
        max-width: 30px;
        max-height: 30px;
    }
}